.suggest{
    margin: 10px;
    border: 3px;
    background-color: antiquewhite;
    text-align: center;
}
.name{
    margin: 10px;
    border: 3px;
    background-color: antiquewhite;
    text-align: center;
}
.contact{
    margin: 10px;
    border: 3px;
    background-color: antiquewhite;
    text-align: center;
}